.movieContainer{
    display: flex;
    flex-wrap: wrap;
}

.mycard{
    width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:4px 4px 0 0;
    padding: 11px;
    background-color: rgb(120, 233, 120);
}

.moviee{
    width: 410px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 4px 4px 0 0;
    padding: 11px;   
}

.about{
    height: 72px;
}

.direction{
    height: 35px;
}

input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;    
    width: 80%;
    background: #f1f1f1;
  }
  
button {   
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  .searchbarcenter{
      text-align: center;
  }

  .movieType{
    font-size: 40px;margin-left: 7%;
  }

  .drama{
    width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:4px 4px 0 0;
    padding: 11px;
      background-color: rgb(194, 194, 238);
  }

  .action{
    width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:4px 4px 0 0;
    padding: 11px;
      background-color: rgb(251, 110, 110);  
  }

  .adventure{
    width: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin:4px 4px 0 0;
    padding: 11px;
      background-color: rgb(243, 120, 243);
  }

  .movieExists{
      color: green;
  }

  .movieNotExists{
      color: red;
  }

  .types, .tags{
    margin-left: 10px;
    text-transform: uppercase;
  }

