<div>
    <h4>DIFFERENT MOVIES:</h4>
</div>
<div *ngFor="let content of contentList">
    <p><strong>ID:</strong>   {{content.id}}</p>
    <p><strong>NAME:</strong>  {{content.title}}</p>
    <p><strong>DESCRIPTION:</strong>  {{content.description}}</p>
    <p><strong>DIRECTOR:</strong>  {{content.creator}}</p>
    <hr>
</div>
<div *ngIf="arrayIndex">
    <h4>Index 2 in content list</h4>
    <p><strong>ID:</strong>   {{arrayIndex.id}}</p>
    <p><strong>NAME:</strong>  {{arrayIndex.title}}</p>
    <p><strong>DESCRIPTION:</strong>  {{arrayIndex.description}}</p>
    <p><strong>DIRECTOR:</strong>  {{arrayIndex.creator}}</p>
    <hr>
</div>

<div *ngIf="!errorArrayIndex" style="color: red;">
    <h4>Index is out of content list - it is error</h4>
</div>
